body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1a1a1a;
}

p {
	text-align: center;
	color: white;
}

#root{
  border-left: solid #1a1a1a 1px; 
  border-top: solid #1a1a1a 1px;  
  width: 400px; 
  height: 400px;  
  margin: 50px auto;
}

.cell{ 
  width: 39px; 
  height: 39px;
  background: lightgrey;
  border-right: solid #1a1a1a 1px;
  border-bottom: solid #1a1a1a 1px;
  display: block;
  float: left;
}

.cell.active{ 
	background: maroon; 
}
